/*Responsive Tablet */

@media (max-width: 1024px) {
     nav ul {
      display: flex;
      gap: 1.5rem;
   }

   .hamburger-menu-btn {
      display: none;
   }

   .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--sp-sm) var(--sp-md);
   }

   .hero {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      justify-content: flex-start;
      gap: var(--sp-md);
      padding: 2rem var(--sp-lg);
   }

   .hero h1{
      font-size: 2.5rem;   
   }

   .hero-image {
      margin-right: 0;
      max-width: 30%;
   }

   .hero-text {
      max-width: 60%;
   }
    
   .features-container {
       justify-content: center;
       margin: var(--sp-sm);
   }


   .cta-content {
      flex-direction: column;
      gap: var(--sp-sm);
      padding: var(--sp-sm);
   }

   .footer-col, .footer-links {
      min-width: 180px;
      padding-right: var(--sp-md);
      margin-left: var(--sp-sm);
   }

   .footer-container {
      gap: var(--sp-sm);
   }

   /* Company Page */

   .company-box{
      padding: var(--sp-lg);
   }

   .history-mission-grid {
      gap: var(--sp-md);
      grid-template-columns: 3fr 2fr;
   }

}

/*Responsive Mobile */
@media(max-width: 767px) {
   :root {

   --sp-md: 1.5rem;
   --sp-lg: 2rem;
   --sp-xl: 3rem;
   }

   header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--sp-sm) var(--sp-md);
   }

   .header .btn{
      
      margin-left: auto;
   }

   .hamburger-menu-btn { 
      display: block;
   }

   nav ul {
      display: none;
   }

   .nav-open {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60%;
      background-color: var(--white-background);
      z-index: 100;
   }

   .hero {
      flex-direction: column;
      text-align: center;
      padding-bottom: var(--sp-md);
   }
   
   .hero-text{
      max-width: 100%;
      margin-bottom: var(--sp-md);
   }

   .hero-image {
      max-width: 80%;
      margin: 0;
   }

   .features-container {
      flex-direction: column;
      margin: var(--sp-sm);
   }

   .feature-card {
      margin-bottom: var(--sp-md);
   }

   .testimonials-grid {
      grid-template-columns: 1fr;
   }
   
   .footer-col .footer {
      flex-direction: column;
   }

   .footer-container {
      flex-direction: column;
      padding: var(--sp-md);
   }

   .footer-info, .footer-links {
      flex:  1 1 100%;
   }

   .footer-links {
      flex-direction: column;
      padding-right: 0;
   }

   .footer-info .logo_box{
      justify-content: center;
   }

   .footer-info p{
      text-align: center;
   }

   .link-group{
      flex:  1 1 100%;
      text-align: center;
      margin-bottom: var(--sp-md);
   }

   .link-group ul li a {
      display: inline-block;
   }

   .social-icons {
      justify-content: center;
   }
   
   .copyrights{
      margin-top: var(--sp-md);
   }

   /*Company Page */

   .company-page-content{
      padding: var(--sp-sm);
   }

   .company-box {
      padding: var(--sp-md);
   }

   .history-mission-grid {
      grid-template-columns: 1fr;
      gap: var(--sp-lg);
   }

   .company-images {
      height: auto;
      margin-top: var(--sp-md);
   }

   .company-images img {
      height: auto;
      flex-grow: 0;
   }
}