/*CSS RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General Body Style */ 

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color:var(--dark-text);
    background-color: var(--white-background);
}

a {
    text-decoration: none;
    color: inherit;
 }

 ul{
    list-style: none;
 }

 /* Κεντράρισμα σε μεγάλες οθόνες*/
 header , main >section , footer .footer-container, .copyrights {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--sp-md);
    padding-right: var(--sp-md);
 }
 
 main > section {
   margin-top: var(--sp-lg);
   margin-bottom: var(--sp-lg);
 }

 header {
   margin-top: var(--sp-md);
   margin-bottom: var(--sp-md);
 }
 /* Μεταβλητές Χρώματα/Space/Borders */

 /*Χρώματα*/
 :root {
    --primary-color: #2C9BF0; 
    --secondary-color: #F07C2C;
    --dark-text: #333333;
    --white-background: #FFFFFF;
    --light-grey-bg: #EDEDED;
    --button-hover: #1D73B8;

/*Spaces*/ /*1rem=16px*/
--sp-xs: 0.5rem ; 
--sp-sm: 1rem ;
--sp-md: 2rem ;
--sp-lg: 3rem ;
--sp-xl: 4rem ;
--sp-xxl: 5rem ;

/*Borders*/
--border-radius:0.5rem;
--box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
--box-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.4);
 } 


 /*Header/Logo/Navbar*/

 header {
    background-color: var(--light-grey-bg);
    padding-top: var(--sp-sm);
    padding-bottom: var(--sp-sm);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-hover);
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
 }

 .logo {
    display: flex;
    align-items: center;
    gap: var(--sp-sm);
 } 

 .logo img {
    height: 3.5rem;
 }

 nav{
    display: flex;
    align-items: center;
    gap: var(--sp-md);
 }

 nav ul{
    font-weight:bold;
    display: flex;
    gap: var(--sp-md);
 }


 nav a {
    color: var(--dark-text);
    padding: var(--sp-xs);
    transition: color 0.3s;
 }

 nav a:hover {
    color: var(--primary-color);
 }

 .nav-button {
    background-color: var(--primary-color);
    color: var(--white-background);
    padding: var(--sp-xs) var(--sp-sm);
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
 }

 .nav-button:hover {
    background-color: var(--button-hover);
    color: var(--white-background);
 }

 /* Hero Section */
 .hero {
    padding-top: var(--sp-xl);
    padding-bottom: var(--sp-xl);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grey-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-hover);
 }

 .hero-text {
    max-width: 50%;
 }

 .hero h1 {
    font-size: 3rem;
    margin-bottom: var(--sp-sm);
    color: var(--primary-color);
 }

 .hero .tagline {
    font-size: 1.5rem;
    margin-bottom: var(--sp-sm);
    color: var(--dark-text);
 }

 .hero-image {
    margin-right: var(--sp-xl);
    max-width: 45%;
 }

 .hero-image img {
    width: 100%;
    height: auto;
    display: block;
 }

 /*Features Section*/
 
 .features {
   background-color: var(--white-background);
   text-align: center;
   padding: 0;
 }

 .features-container {
   display: flex;
   justify-content: space-between;
   gap: var(--sp-md);
   max-width: 1200px;
 }
 

 .feature-card {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   background-color: var(--primary-color);
   color: var(--white-background);
   padding: var(--sp-lg);
   border-radius: var(--border-radius);
   box-shadow: var(--box-shadow-hover);
 }

 .feature-card img {
   width: 5rem;
   height: 5rem;
   margin-bottom: var(--sp-sm);
   padding: 0.2rem;
 }

 .feature-card h2 {
   color: var(--white-background);
   font-size: 1.4rem;
   margin-bottom: var(--sp-xs);
   width: 100%;
 }


 /*Testimonials Section */

 .testimonials {
    padding: var(--sp-xl) var(--sp-md);
    background-color: var(--light-grey-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-hover);
 }

 .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: auto;
    gap: var(--sp-md);
    
   }

 .testimonial-block {
    padding: 0;
    background-color: transparent;
    position: static;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-hover);
 }
 .quote-image {
   width: 100%;
   height: auto;
   display: block;
 }

 /*Call to action Section */ 

 .cta {
    background-color: var(--secondary-color);
    color: var(--white-background);
    padding: var(--sp-sm) 0;
    padding-left: var(--sp-md);
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-hover);
 }

 .cta-content{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: var(--sp-xxl);
   max-width: 1000px;
   margin: 0 auto;

 }
 .cta p {
    font-size: 1.5rem;
 }

 .cta-highlight {
    font-weight: bold;
    color: var(--primary-color);
 }

 .cta-button {
    background-color: var(--primary-color);
    color: var(--white-background);
    padding: var(--sp-xs) var(--sp-md);
    border-radius: var(--border-radius);
    font-size: 1.1rem;
    display: inline-block;
    transition: background-color 0.3s;
 }

 .cta-button:hover {
    background-color: var(--button-hover);
 }


 /* Company Page*/

 nav ul li a.active {
  color: var(--primary-color);
  border-bottom:  2px solid var(--primary-color);
  padding-bottom: 3px;
 }

 .company-page-content {
  max-width: 1200px;
  padding: 0 ;
  text-align: center;
 }

 .company-box {
  background-color: var(--light-grey-bg);
  padding: var(--sp-xl);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-hover);
  margin-top: var(--sp-md);
 }

 .company-page-content .page-title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--dark-text);
  margin-bottom: var(--sp-sm);
  margin-top: 0;
 }

 .history-mission-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--sp-xl);
  align-items: stretch;
  padding-bottom: 0;
 }

 .text-content {
  line-height: 2rem;
}

.text-content h2 {
  font-size: 2rem;
  color: var(--dark-text);
  margin-bottom: var(--sp-sm);
}

.text-content ol {
  margin: var(--sp-md) 0;
  margin-left: var(--sp-md);
  padding-left: 0;
}

.text-content hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: var(--sp-lg) 0;
}

.company-images {
  display: flex;
  flex-direction: column;
  gap: var(--sp-md);
  padding-top: var(--sp-sm);
  height: 100%;
}

.company-images img {
  width: 100%;
  flex-grow: 1;
  height: 50%;
  object-fit: cover;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-hover);
}


/* Contact Page */

 .contact-page-content {
  max-width: 1200px;
  padding: 0 ;
  text-align: center;
 }

 .contact-page-content .page-title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--dark-text);
  margin-bottom: var(--sp-sm);
  margin-top: 0;
 }

 .contact-page-content p {
   margin-bottom: var(--sp-lg);
   font-size: 1.1rem;
   color: var(--dark-text);
   font-weight: bold;
 }

 .contact-box {
   display: flex;
   justify-content: space-between;
   gap: var(--sp-lg);
   background-color: var(--light-grey-bg);
   padding: var(--sp-lg);
   border-radius: var(--border-radius);
   box-shadow: var(--box-shadow-hover);
   margin-top: var(--sp-md);
   text-align: left;
 }



 /* Contact Form Style */

 .contact-form-container {
   flex: 2;
   padding-right: var(--sp-md);
   border-right:  1px solid rgba(0, 0, 0, 0.1);
 }

 .contact-form {
   display: flex;
   flex-direction: column;
   gap: var(--sp-xs);
 }

 .contact-form label {
   font-weight: bold;
   margin-top: var(--sp-sm);
   color: var(--dark-text);
 }

 .contact-form input, 
 .contact-form textarea {
   padding: var(--sp-xs);
   border: 1px solid #ccc;
   border-radius: var(--border-radius);
   width: 100%;
   font-size: 1rem;
   transition: border-color 0.3s, box-shadow 0.3s;
 }

 .contact-form textarea {
   resize: vertical;
 }
 
 .send-message-btn {
   background-color: var(--secondary-color);
   color: var(--white-background);
   padding: var(--sp-xs) var(--sp-md);
   border-radius: var(--border-radius);
   font-size: 1.1rem;
   font-weight: bold;
   display: inline-block;
   transition: background-color 0.3s, transform 0.2s;
   border: none;
   cursor: pointer;
   margin-top: var(--sp-sm);
   align-self: flex-start;
 }

 .send-message-btn:hover {
   background-color: #D66D24;
   transform: translateY(-1px);
 }

 .form-footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-top: var(--sp-lg);
   padding-top: var(--sp-lg);
 }

 .form-footer .logo-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--sp-sm);
   margin-bottom: var(--sp-sm);
 }

 .form-footer .logo-box img {
   height: 6rem;
   width: auto;
 }

 .form-footer p { 
   font-size: 1rem;
   color: var(--dark-text);
   margin-bottom: 0;
 }


 /* Other Contact */

 .other-contact-way-box {
   display: flex;
   flex-direction: column;
   grid-area: var(--sp-md);
 }

 .other-contact-way-box h2 {
   font-size: 1.8rem;
   color: var(--dark-text);
   margin-bottom: var(--sp-md);
 }

 .contant-info-list p { 
   display: flex;
   align-items: center;
   margin-bottom: var(--sp-sm);
   font-size: 1rem;
   color: var(--dark-text);
 }

 .contant-info-list span {
   font-size: 1.5rem;
   margin-top: var(--sp-xs);
   color: var(--primary-color);
 }

 .map-container {
   margin-top: var(--sp-md);
 }

 .map-container h3 {
   font-size: 1.5rem;
   color: var(--dark-text);
   margin-bottom: var(--sp-sm);
 }

 .map-container img {
   width: 100%;
   height: auto;
   display: block;
 }

 /*Footer*/

 footer{
   background-color: var(--white-background);
   padding-bottom: var(--sp-md);
 }

 .footer-container {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   gap: var(--sp-lg);
   background-color: var(--light-grey-bg);
   padding: var(--sp-lg);
   border-radius: var(--border-radius);
   box-shadow: var(--box-shadow-hover);
 }

 .footer-col {
   padding: 0;
 }

 .footer-info {
   flex: 0 0 35%;
 }

 .footer-info .logo-box{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--sp-sm);
   margin-bottom: var(--sp-sm);
 }

 .footer-info .logo-box img {
   height: 6rem;
   width: auto;
 }

 .footer-info p {
   margin-bottom: var(--sp-md);
   font-weight: bold;
   font-size: 1rem;
   text-align: center;
 }

 .footer-links {
   display: flex;
   padding-right: var(--sp-lg);
   justify-content: space-between;
   flex: 0 0 65%;
 }
 .social-icons {
   display: flex;
   gap:  var(--sp-sm);
   justify-content: flex-start;
 }

 .social-icon {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 2.5rem;
   height: 2.5rem;
   background-color: var(--primary-color);
   color: var(--white-background);
   border-radius: 50%;
   font-weight: bold;
   transition: background-color 0.3s;
 }

 .social-icon:hover {
   background-color: var(--secondary-color);
 }

 .link-group {
   flex: 1;
   min-width: 100px;
 }

 .link-group h4{
   color: var(--dark-text);
   font-size: 1.1rem;
   margin-bottom: var(--sp-sm);
   font-weight: bold;
 }

 .link-group ul li a{
   display: block;
   color: var(--dark-text);
   padding: var(--sp-xs) 0;
   transition: color 0.3s;
 }

 .link-group ul li a:hover {
   color: var(--primary-color);
 }
 
 .link-group ul li a::before {
   content: "◆";
   color: var(--secondary-color);
   margin-right: 0.5rem;
   font-weight: bold;
 }

 .copyrights {
   background-color: var(--light-grey-bg);
   color: var(--dark-text);
   text-align: center;
   padding: var(--sp-sm) 0;
   border-radius: var(--border-radius);
   box-shadow: var(--box-shadow-hover);
 }

 .copyrights p {
   max-width: 1200px;
   margin:  0 auto;
   padding: 0 var(--sp-md);
   text-align: center;
}

.hamburger-menu-btn{
   display: none;
}


/*=====RESPONSIVE SETTINGS ======*/
/*Responsive Tablet 1024px*/

@media (max-width: 1024px) {

   /*Μεταβλητές */

   :root {
      /* spaces */
      --SP-SM: 1rem;
      --SP-MD: 1.5rem;
      --SP-LG: 2rem;
      --SP-XL: 3rem;
      --SP-XLL: 4rem;
   }

   /* Header */

   header {
      margin: var(--SP-SM);
   }
   nav {
      gap: var(--SP-SM);
   }

   nav ul {
      gap: var(--SP-SM);
   }

   /* Hero Section */

   .hero {
      padding-left: var(--SP-MD);
      padding-right: var(--SP-MD);
      margin: var(--SP-SM);
   }

   .hero-text {
      max-width: 55%;
   }

   .hero-image {
      margin-left: var(--SP-MD);
      max-width: 40%;
   }

   .hero h1 {
      font-size: 2.5rem;
   }

   .hero .tagline {
      font-size: 1.25rem;
   }

   /* Feautures Section */

   .features-container {
      gap: var(--SP-SM);
      margin: var(--SP-SM);
   }

   .feature-card {
      padding: var(--SP-MD) var(--SP-SM);
   }

   /* Testimonials Section */

   .testimonials {
      margin: var(--SP-SM);
   }

   .testimonials-grid {
      grid-template-columns:  repeat(2, 1fr);
   }

   /* CTA Section */

   .cta {
      margin: var(--SP-SM);
   }
   .cta-content {
      gap: var(--SP-LG);
      flex-direction: column;
      text-align: center;
      padding: var(--SP-MD) 0;
   }

   .cta p {
      font-size: 1.2rem;
      margin-bottom:  var(--SP-SM);
   }

   /* Company Section */

   .company-box {
      margin: var(--SP-SM);
   }
   .history-mission-grid {
      grid-template-columns: 1fr;
      gap: var(--SP-MD);
   }

   .company-images {
      flex-direction: row;
      align-items: center;
   }

   /* Contact Page */

   .contact-box {
      flex-direction: column;
      gap: var(--SP-MD);
      margin: var(--SP-SM);
   }

   .contact-form-container {
      padding-right:  0;
      border-right:  none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: var(--SP-MD);
   }

   .send-message-btn {
      align-self: center;
   }

   .other-contact-way-box {
  
      align-items: center;
   }

   .map-container {
      max-width:60%;
      align-self: center;
   }

   /*Footer Section */

   footer {
      margin: var(--SP-SM);
   } 
   .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .footer-info {
      flex: 1 1 100%;
      margin-bottom: var(--SP-MD);
   }

   .footer-links {
      flex:  1 1 100%;
      justify-content: space-around;
      text-align: left;
      padding-right: 0;
   }

   .social-icons {
      justify-content: center;
   }

   /*Copyrights Section */

   .copyrights {
      margin: var(--SP-SM);
   }
}

/*Responsive Mobile */
@media(max-width: 767px) {
   :root {
   
   --Sp-Sm: 0.9rem;   
   --Sp-Md: 1.5rem;
   --Sp-Lg: 2rem;
   --Sp-Xl: 3rem;
   }

   header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--Sp-Sm) var(--Sp-Md);
      margin: var(--Sp-Sm);
     
   }

   .header .btn{
      
      margin-left: auto;
   }

   .hamburger-menu-btn { 
      display: block;
   }

   nav ul {
      display: none;
   }

   .nav-open {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60%;
      background-color: var(--white-background);
      z-index: 100;
   }

   .hero {
      flex-direction: column;
      text-align: center;
      padding-bottom: var(--Sp-Md);
      margin: var(--Sp-Sm);
   }
   
   .hero-text{
      max-width: 100%;
      margin-bottom: var(--Sp-Sd);
   }

   .hero-image {
      max-width: 80%;
      margin: 0;
   }

   .features-container {
      flex-direction: column;
      margin: var(--Sp-Sm);
   }

   .feature-card {
      margin-bottom: var(--Sp-Md);
   }

   .testimonials {
      margin: var(--Sp-Sm);
   }

   .testimonials-grid {
      grid-template-columns: 1fr;
   }

   .cta {
      margin: var(--Sp-Sm);
   }
   
   .footer-col .footer {
      flex-direction: column;
     
   }

   .footer-container {
      flex-direction: column;
      padding: var(--Sp-Md);
   }

   .footer-info, .footer-links {
      flex:  1 1 100%;
   }

   .footer-links {
      flex-direction: column;
      padding-right: 0;
      align-self: center;
   }

   .footer-info .logo_box{
      justify-content: center;
   }

   .footer-info p{
      text-align: center;
   }

   .link-group{
      flex:  1 1 100%;
      text-align: center;
      margin-bottom: var(--Sp-Md);
   }

   .link-group ul li a {
      display: inline-block;
   }

   .social-icons {
      justify-content: center;
   }
   
   .copyrights{
      margin-top: var(--Sp-Md);
   }

   /*Company Page */

   .company-box {
      padding: var(--Sp-Md);
   }
   
   .text-content h2 {
      font-size: 1.5rem;
   }


   .company-images {
      flex-direction: column;
   }

   /*Contact Page */

   .contact-box {
      padding: var(--Sp-Md);
   }

   .contact-form-container {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   }

   .send-message-btn {
      width: 100%;
      align-self: center;
   }

   .contact-form-container .form-footer {
      padding-top: var(--Sp-Md);
      margin-top: var(--Sp-Md);
   }

   .form-footer .logo-box img {
      height: 4rem;
   }
  
   .other-contact-way-box {
      text-align: center;
   }
   
   /*Footer */

   .footer-links {
      flex-direction: column;
      gap: var(--Sp-Md);
      align-items: center;
      text-align: center;
   }

   .link-group {
      width: 100%;
      min-width: 0;
   }

   .link-group h4 {
      margin-bottom: var(--sp-xs);
   }

   .link-group ul li a {
      padding: var(--sp-xs) 0;
   }

   .link-group ul li a:hover {
      color: var(--primary-color);
   }

   .footer-info p {
      padding: 0 var(--Sp-Sm);
   }
}

   
