# Αγνοεί τον φάκελο 'image' (με μικρό i)
image/

# Αγνοεί το αρχείο κειμένου (χρησιμοποιούμε το ακριβές όνομα με κεφαλαία και κενά)
Quick Chat Project.txt

# Γενικά αρχεία για αγνόηση
.DS_Store
.vscode/

#Αγνοεί το .gitgnore
gitgnore.txt